/* @import url(https://fonts.googleapis.com/css?family=Lobster+Two:400,700); */
/* @import url(https://fonts.googleapis.com/css?family=Dosis:400,600); */
@import url(https://fonts.googleapis.com/css?family=Rancho);

* { 
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/*body {
	
}*/

p {
	font-family: 'Rancho', cursive;
	color: #7300e6;
	font-size: 150%; 
    font-weight: 400;
}

h1{
	font-family: 'Rancho', cursive;
	color: #7300e6;
	font-size: 250%; 
	font-weight: 600;   
}

#slogan {
    font-family: 'Rancho', cursive;
    color: #7300e6;
    font-size: 200%; 
    font-weight: 600; 
}

.center {
	text-align: center;
}

header {
	background-color: #D866FF;
    border: 1px black solid;
    padding: 20px;
}

section {
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

footer{
	background-color: #D866FF;
    border: 1px black solid;
    padding: 20px;
}

#two_column {
    background-color: #6C337F;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: #EBB3FF;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 33.33%;
}

#left img {
	width:100%;
}

#right {
    background-color: #EBB3FF;
    border: 1px black solid;
    padding: 2em;
    float: left;
    width: 65.66%;
    margin-left: 1%;
}
#right img {
	float:left;
	height:auto;
	padding:.5em;
	width:33.33%;
}
#left, #right {
	min-height: 22em;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
